[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-pacaur"]
	path = dotbot-pacaur
	url = https://github.com/ajlende/dotbot-pacaur
[submodule "dotbot-yarn"]
	path = dotbot-yarn
	url = https://github.com/duranzno/dotbot-yarn.git
[submodule "dotbot-espanso"]
	path = dotbot-espanso
	url = https://github.com/duranzno/dotbot-espanso.git
